@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif! important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
  font-size: 20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

h1{
  font-size: 30;
    font-weight: bold;
    color: solid black;
}

.btn_purp{
  min-width: 100%;
  width: 100%;
}
.header{
    padding: 10px;
}

h6{
  align-items: end;
}
.content{

min-height: 90vh;
}

.text-left{
  background-color: rgba(0,0,0,0.5);
}

.login,.register{
  background-size:cover;
  min-height: 100vh;
  height:75vh;
  overflow: hidden;
}

.page-container {
  position: relative;
  width: 75%;
  height: 100vh;
  align-items: center;
  justify-content:center ;

}

.marquee-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 375px; 
  position: absolute;
  animation: marquee 10s linear infinite;
}

.marquee-container img {
  display: block;
  width: 75vh; 
  height: 50vh; 
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 10px;
}

@keyframes marquee {
  0% {
    transform: translateY(-95vh);
  }
  100% {
    transform: translateY(-375vh); 
  }
}

.login label, .login h1{
  color:white !important;
  opacity: 0.8;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.login-form{
  background-color:rgb(49, 49, 161);
  padding: 15px;
  margin-left: 80px;
  margin-top:15vh;
  border-radius: 15px;
  width: fit-content;
  
}

.login-form input{
  width:300px;
  background-color:azure;
  border: none !important;
  color: black;
}

button{
  border-radius: 5px;
  width:65px;
  padding: 5px;
  cursor:pointer ;
  background-color: rgb(52, 52, 107);
  color:aliceblue;
  opacity: 0.9;
}


p{
  margin: 5px !important;
  text-align: left;
  padding: 0;
}

.btm1{
  box-shadow: none !important;
  background-color: white !important;
  border: 1px solid orangered !important;
  color: orangered !important;
  width: 100px;
  height: 35px;
}

.spinner{
  position: absolute;
  top:50%;
  left:50%;
  z-index:1 ;
}



/*This is for making hover effect*/

.car{
  border-radius: 5px;
  margin: 50px;
  height: 200px;
  transition: 0.3s;

}

.car:hover{
  height: 350px;
}

.car:hover > .car-content{
     opacity: 1;
}

.carimg{
  height: 225px;
  width: 225px;
  border-radius: 5px;
  transform: translate(30px);


}


.car-content{
      opacity:0;
      transition: 0.3s;
}